In [36]:
from pyspark.sql import SparkSession

from pyspark.sql import functions as f
#from pyspark.sql.functions import  sum, avg, min, max,  mean
from pyspark.sql.types import *
from pyspark.sql.functions import countDistinct, avg, stddev
from pyspark.sql.functions import col


from ut_spr import ut_spr as ut1
from ut_spark import ut_spark as ut2
#from ut_clean import ut_clean 


spark =SparkSession.\
        builder. \
        appName("Aggregation"). \
        master("local[4]").\
        getOrCreate()

In [37]:

from pyspark.sql.functions import col , count 

class ut_clean:
    """ a class of utitlies to do data cleanup"""

    @staticmethod
    def isnull_count(df, col_name):
        cnt = df.filter(col(col_name).isNull()).count()
        print('{}:{}'.format(col_name, cnt))
        return (cnt)

    @staticmethod
    def chk_dataframe_null(df1):
        columns = df1.columns
        for col_name in columns:
            ut_clean.isnull_count(df1, col_name)

    @staticmethod
    def df_dup_by_col(df, colname):
        return df.groupBy(col(colname)).agg(count(colname).alias("count")).filter(col("count") > 1)


    @staticmethod
    def grpby(df, col):
        df.groupBy(col).count().show()

#### Read airport data to dataframe

In [39]:
def read_airport():
    
 f_folder = 'C:\\demo\\capstone\\raw_data\\'
 f_name ='airports.csv'
 f_path= f_folder+ f_name


 return spark.read\
   .options(header="true")\
   .options(mode="DROPMALFORED")\
   .csv(f_path)
    
df1=read_airport() 
df1.columns

['iata', 'airport', 'city', 'state', 'country', 'lat', 'long']

#### Check if 'iata' column is unique

In [29]:
from pyspark.sql.functions import col , count 
def df_dup_by_col(df, colname):
    df_new =df.groupBy(col(colname)).agg(count(colname).alias("count")).filter(col("count") > 1)
    return df_new.count()

In [30]:
#check if 'iata' column is unique

cnt= df_dup_by_col(df1, 'iata')
print("number of duplicate group with same 'iata' value: {}".format(cnt))

number of duplicate group with same 'iata' value: 0

#### For each column, find  the number of  records that have 'null' values

In [41]:
ut_clean.chk_dataframe_null(df1)

iata:0
airport:0
city:0
state:0
country:0
lat:0
long:0

#### Find number of distinct values for column 'state', 'country'

In [43]:
collist=[
 'state', 'country']

In [53]:
for col in collist:
    ut_clean.grpby(df1, col)

+-----+-----+
|state|count|
+-----+-----+
|   MS|   72|
|   TX|  209|
|   CO|   49|
|   NY|   97|
|   FL|  100|
|   AL|   73|
|   WI|   84|
|   OH|  100|
|   MO|   74|
|   MN|   89|
|   IN|   65|
|   NV|   32|
|   IL|   88|
|   ND|   52|
|   MI|   94|
|   NE|   73|
|   GA|   97|
|   DC|    1|
|   TN|   70|
|   AK|  263|
+-----+-----+
only showing top 20 rows

+--------------------+-----+
|             country|count|
+--------------------+-----+
|                 USA| 3372|
|            Thailand|    1|
|               Palau|    1|
|   N Mariana Islands|    1|
|Federated States ...|    1|
+--------------------+-----+