In [2]:
from pyspark.sql import SparkSession

from pyspark.sql import functions as f
#from pyspark.sql.functions import  sum, avg, min, max,  mean
from pyspark.sql.types import *
from pyspark.sql.functions import countDistinct, avg, stddev
from pyspark.sql.functions import col

from ut_spr import ut_spr as ut1

from ut_spark import ut_spark as ut2


spark =SparkSession.\
        builder. \
        appName("Aggregation"). \
        master("local[4]").\
        getOrCreate()

In [19]:
from pyspark.sql.functions import col , count

class ut_clean:
    """ a class of utitlies to do data cleanup"""

    @staticmethod
    def isnull_count(df, col_name):
        cnt = df.filter(col(col_name).isNull()).count()
        print('{}:{}'.format(col_name, cnt))
        return (cnt)

    @staticmethod
    def chk_dataframe_null(df1):
        columns = df1.columns
        for col_name in columns:
            ut_clean.isnull_count(df1, col_name)

    @staticmethod
    def df_dup_by_col(df, colname):
        new_df =df.groupBy(col(colname)).agg(count(colname).alias("count")).filter(col("count") > 1)
        return new_df.count()


    @staticmethod
    def grpby(df, col):
        df.groupBy(col).count().show()

In [3]:

def read_plane():

    f_folder = 'C:\\demo\\capstone\\raw_data\\'
    f_name ='plane-data.csv'
    f_path= f_folder+ f_name

    return ut2.load_df_csv(spark, f_path)

df_plane= read_plane()

In [21]:
df_plane.count()

5029

#### Check if column 'tailnum' is unique

In [20]:
cnt= ut_clean.df_dup_by_col(df_plane, 'tailnum')
print("Number of duplicate group with same 'tailnum' value: {}".format(cnt))

Number of duplicate group with same 'tailnum' value: 0

In [ ]:
from pyspark.sql.functions import col , count 
def df_dup_by_col(df, colname):
    df_new =df.groupBy(col(colname)).agg(count(colname).alias("count")).filter(col("count") > 1)
    return df_new.count()

#### For each column, find  the number of  records that have 'null' values

In [16]:

ut_clean.chk_dataframe_null(df_plane)

tailnum:0
type:549
manufacturer:549
issue_date:549
model:549
status:549
aircraft_type:549
engine_type:549
year:549

#### Find number of distinct values for a few columns

In [17]:
#get number of records for a null cul
collist=[
 'type',
 'manufacturer',
 'model',
 'status',
 'aircraft_type',
 'engine_type']


for cl in collist:
    ut_clean.grpby(df_plane, cl)

+-------------------+-----+
|               type|count|
+-------------------+-----+
|        Corporation| 4440|
|           Co-Owner|    5|
|         Individual|   24|
|        Partnership|    1|
|Foreign Corporation|   10|
|               null|  549|
+-------------------+-----+

+--------------------+-----+
|        manufacturer|count|
+--------------------+-----+
|             EMBRAER|  588|
|    AIRBUS INDUSTRIE|  434|
|              BOEING| 2061|
|             DOUGLAS|   36|
|   MCDONNELL DOUGLAS|  253|
|            CANADAIR|   86|
|      BOMBARDIER INC|  547|
|              AIRBUS|  244|
|              CESSNA|   12|
|         SAAB-SCANIA|   28|
|               BEECH|    5|
|            SIKORSKY|    3|
|GULFSTREAM AEROSPACE|    2|
|        AEROSPATIALE|    8|
|               PIPER|    6|
|          AGUSTA SPA|    1|
|      AERO COMMANDER|    2|
|         PAIR MIKE E|    1|
|  AVIAT AIRCRAFT INC|    2|
|               RAVEN|    3|
+--------------------+-----+
only showing top 20 rows

+-----------+-----+
|      model|count|
+-----------+-----+
|  EMB-145XR|  104|
|   A320-214|   22|
|    737-3TO|   50|
|    747-422|   23|
|  EMB-145LR|  219|
|    747-451|    1|
|    737-824|  100|
|  EMB-135LR|   57|
|    737-524|   56|
|    767-332|   77|
|    757-224|   41|
|    737-76N|   27|
|  EMB-145EP|   23|
|    DC-9-31|   29|
|    737-724|   36|
|  EMB-135ER|   12|
|    767-3P6|    6|
|    737-3G7|   20|
|CL-600-2B19|  403|
|   A321-211|   28|
+-----------+-----+
only showing top 20 rows

+-----------------+-----+
|           status|count|
+-----------------+-----+
|            Valid| 4479|
|Registered to Mfr|    1|
|             null|  549|
+-----------------+-----+

+--------------------+-----+
|       aircraft_type|count|
+--------------------+-----+
|Fixed Wing Multi-...| 4440|
|Fixed Wing Single...|   29|
|          Rotorcraft|    8|
|             Balloon|    3|
|                null|  549|
+--------------------+-----+

+-------------+-----+
|  engine_type|count|
+-------------+-----+
|    Turbo-Fan| 2883|
|    Turbo-Jet| 1429|
|Reciprocating|   32|
|   Turbo-Prop|  122|
|  Turbo-Shaft|    7|
|         None|    3|
|      4 Cycle|    4|
|         null|  549|
+-------------+-----+